body {
    font-family: 'Arial';
}

p {
	margin: 0px;
	margin-top: 5px;
}

#myCanvas {
    display: inline-block;
}

#canvas {
    width: 100%;
    text-align: center;
}

#menu {
	margin: 15px;
	align-items: center;
    text-align: center;
}

#operacoes {
	width: 100%;
	align-items: center;
	display: inline-flex;
	justify-content: space-between;
}


#menuVarredura {
	width: 40%;
	position: relative;
	align-items: center;
    left: 42%;
    margin: 30px;
}
