body {
    font-family: 'Arial';
}

p {
	margin: 0px;
	margin-top: 5px;
}

#myCanvas {
    display: inline-block;
}

#canvas {
    width: 100%;
    text-align: center;
}


#menu {
	margin: 15px;
	align-items: center;
    text-align: center;
}


#operacoes {
	width: 100%;
	align-items: center;
	display: inline-flex;
	justify-content: space-between;
} 

#menuRotacao {
	width: 20%;
	position: relative;
	padding-left: 20px;
    left: 40%
}

#btnRotacao {
	margin-top: 5px;
	padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12pt;
}

